<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Happy League Tournament</title>
        <link rel="stylesheet" href="css/events.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <section id="banner">
            <a href="../index.html">
            <img src="images/logo.png" class="logo">
            </a>
            <div class="banner-text">
                <h1>Events</h1>
            </div>
            <div class="top"></div>
            <div class="body">
            <div class="card">
                <div class="card-content">
                <h2 class="card-title">Mobile Legends</h2>
                <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita earum pariatur aut adipisci sapiente.</p>
                <a href="/register" class="button">Register</a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h2 class="card-title">Mobile Legends</h2>
                <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita earum pariatur aut adipisci sapiente.</p>
                <a href="#" class="button">Register</a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h2 class="card-title">Mobile Legends</h2>
                <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita earum pariatur aut adipisci sapiente.</p>
                <a href="#" class="button">Register</a>
                </div>
            </div>
            </div>
            <div class="top"></div>
            <div class="footer">
                <div class="inner-footer">
                    <div class="footer-item">
                        <img src="images/logo.png">
                        <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. Wikipedia</p>
                    </div>
                <div class="footer-item">
                    <h2>Product</h2>
                <div class="border"></div>
                    <ul>
                        <a href="#"><li>Theme Design</li></a>
                        <a href="#"><li>Theme Design</li></a>
                        <a href="#"><li>Theme Design</li></a>
                        <a href="#"><li>Theme Design</li></a>
                    </ul>
                </div>
            <div class="footer-item">
                <h2>Contact</h2>
                    <div class="border"></div>
                        <ul>
                            <a href="#"><li>Theme Design</li></a>
                            <a href="#"><li>Theme Design</li></a>
                            <a href="#"><li>Theme Design</li></a>
                            <a href="#"><li>Theme Design</li></a>                                       
                        </ul>
                    </div>
                <div class="footer-item">
                    <h2>Address</h2>
                        <div class="border"></div>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"> Medziphema, Dimapur, Nagaland, 797106</i></li>
                                <li><i class="fa fa-phone" aria-hidden="true"> +918837092377</i></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"> happyleague.com@gmail.com</i></li>           
                            </ul>
                        <div class="social">
                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                        </div>
                            <div class="footer-bottom">
                                Copyright &copy; Computers & Codes 2021. All rights reserved.
                            </div>     
                    </div>
        </section>
        {{>navbar}}
            <script>
                var menuBtn = document.getElementById("menuBtn")
                var sideNav = document.getElementById("sideNav")
                var menu = document.getElementById("menu")
                sideNav.style.right = "-250px";
                menuBtn.onclick = function(){
                    if(sideNav.style.right == "-250px"){
                        sideNav.style.right = "0";
                        menu.src = "images/close.png";
                    }
                    else{
                        sideNav.style.right = "-250px";
                        menu.src = "images/menu.png";
                    }
                }
            </script>
        </body>
        </html>