<div id="sideNav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="#">Matches</a></li>
                    <li><a href="schedule/schedule.html">Schedule</a></li>
                    <li><a href="gallery/gallery.html">Gallery</a></li>
                    <li><a href="videos/video.html">Videos</a></li>
                    <li><a href="news/news.html">News</a></li>
                    <li><a href="about/about.html">About Us</a></li>
                    <li><a href="contact/contact.html">Contact Us</a></li>
                </ul>
                <div class="social_media">
                    <a href="https://www.instagram.com/happy_league_tournament/"><img src="images/instagram.png"></a>
                    <a href=""><img src="images/facebook.png"></a>
                    <a href="https://youtube.com/channel/UC2FdW1yN5Y-T0WZWx-upnBQ"><Img src="images/youtube.png"></a>
                    <a href="https://twitter.com/LeagueHappy"><img src="images/twitter.png"></a>
                    
                </div>
            </nav>
        </div>
        <div id="menuBtn">
            <img src="images/menu.png" id="menu">
        </div>