*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    background: url('../images/eve.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 270px;
    width: auto;
    text-align: center;
    color: #fff;
    padding-top: 50px;
}
.banner-text h1{
    margin-top: 50px;
    font-size: 90px;
    font-family: 'Kaushan Script', cursive;

}
.banner-text p{
    font-size: 20px;
    font-style: italic;   
}
.top{
    width: 100%;
    height: 2px;
    background-color: red;
}
.body{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 90vh;
    line-height: 1.7;
    background-color: #17202A;
    font-family: sans-serif;
}
.card{
    color: #fff;
    background: url(../images/a.jpg) center;
    background-size: cover;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10rem 0 0;
    max-width: 35ch;
    height: 241px;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    border: 1px solid #000;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.card:hover{
    transform: scale(1.05);
}
.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(69%);
    transition: transform 500ms ease;
}
.card:hover .card-content{
    transform: translateY(0);
    transition-delay: 500ms;
}
.card-content > *:not(.card-title){
    opacity: 0;
    transition: opacity 500ms linear;
}
.card:hover .card-content > *:not(.card-title){
    opacity: 1;
    transition-delay: 1000ms;
}
.card-body{
    margin-top: 20px;
    margin-bottom: 15px;
}
.card-title{
    position: relative;
    width: max-content;
}
.card-title::after{
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 3px;
    width: calc(100% + var(--padding));
    background: #ff9800;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 0.3em 1.25em;
    border-radius: 0.25em;
}
.button:hover,
.button:focus{
    background-color: #ff9800;
    color: #000;
}
.footer{
    width: 100%;
    background: #00121b;
    display: block;
}
.inner-footer{
    display: flex;
    width: 95%;
    margin: auto;
    padding: 50px 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-item{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer-item img{
    padding: 10px 0;
    width: 60%;
}
.footer-item p{
    color: #fff;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
}
.footer-item h2{
    margin: 10px 0;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: #ff9800;
}
.border ul{
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;

}
.footer-item ul a{
    list-style: none;
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
.footer-item ul a:hover{
    color: #ff9800;
}
.footer-item ul li{
    margin: 10px 0;
    height: 25px;
    list-style: none;
}
.footer-item ul li i{
    margin-right: 20px;
    color: #fff;
}
.social{
    width: 100%;
    color: #fff;
    text-align: center;

}
.social a{
    text-decoration: none;
}
.social i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}
.social i:hover{
    background: grey;

}
.footer-bottom{
    padding: 8px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
    
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}
@media screen and (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactInfo{
        margin-bottom: 50px;
    }
    .contactInfo,
    .contactForm{
        width: 100%;
    }
}